# Ignore all .log files
*.log

# Ignore the 'build' and 'dist' directories
build/
dist/

# Ignore a specific file
config.local.js

# Ignore Node.js dependency directory
node_modules/

# Ignore environment files
.env
.env.*     # e.g. .env.production, .env.local, etc.

# Ignore lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
